@model List<Cliente>
@{
    ViewData["Title"] = "Index";
}

<body>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Lista Clientes</h2>
                </div>
                <div>
                    <a href="@Url.Action("Create", "Cliente")" class="btn btn-primary btn-sm rounded">Crear nuevo cliente</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <article class="itemlist">
                        @foreach (var cliente in Model)
                        {
                            <div class="row align-items-center">
                                <div class="categoria-fila" style="display:flex;gap:25px;">
                                    <h6 class="mb-0">@cliente.idcliente</h6>
                                    <h6 class="mb-0" style="width:150px;">@cliente.nombre</h6>
                                    <h6 class="mb-0" style="width:150px;">@cliente.direccion</h6>
                                    <h6 class="mb-0" style="width:150px;">@cliente.telefono</h6>
                                    <h6 class="mb-0" style="width:150px;">@cliente.email</h6>
                                    <a href="@Url.Action("Edit", "Cliente", new { id = cliente.idcliente })" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Editar </a>
                                    <form action="@Url.Action("Delete", "Cliente", new { id = cliente.idcliente })" method="post" style="display:inline;" onsubmit="return confirm('¿Está seguro de que desea eliminar este cliente?');">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-sm font-sm btn-light rounded">
                                            <i class="material-icons md-delete_forever"></i> Eliminar
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <br />
                        }
                    </article>
                </div>
            </div>
        </section>
    </main>
</body>